<p>This is the default template, and the page was generated at @DateTime.Now</p>
<div style="display: inline-block; width: 500px; float: left; min-height: 500px;">
    @{ Html.ContentArea("Main"); }
</div>
<div style="display: inline-block; width: 220px; float: right; min-height: 500px;">
@{ Html.ContentArea("Left-Column"); }
</div>