<root>
  <FileGroup Name="eyepatch-admin.js">
    <File Path="AdminPanel\eyepatch-admin-global.js" Minify="false" />
    <File Path="AdminPanel\eyepatch-admin-forms.js" Minify="false" />
    <File Path="AdminPanel\eyepatch-admin-info.js" Minify="false" />
    <File Path="AdminPanel\eyepatch-admin-images.js" Minify="false" />
    <File Path="AdminPanel\eyepatch-admin-contentarea.js" Minify="false" />
    <File Path="AdminPanel\eyepatch-admin-actions.js" Minify="false" />
    <File Path="AdminPanel\eyepatch-admin-panel.js" Minify="false" />
    <File Path="AdminPanel\eyepatch-admin-startup.js" Minify="false" />
  </FileGroup>

  <FileGroup Name="eyepatch-admin.js">
    <File Path="knockout-1.2.1.js" Minify="true" />
    <File Path="jquery.tmpl.js" Minify="true" />
    <File Path="Knockout-UI/ui-util.js" Minify="true" />
    <File Path="AdminPanel/eyepatch-admin-startup.js" Minify="true" />
  </FileGroup>
</root>