<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.0" />
  <package id="CommonServiceLocator.StructureMapAdapter" version="1.1.0.2" />
  <package id="elmah" version="1.2.0.1" />
  <package id="elmah.corelibrary" version="1.2" />
  <package id="elmah.sqlservercompact" version="1.2" />
  <package id="LinqToSqlProfiler" version="1.0.0.905" />
  <package id="Newtonsoft.Json" version="4.0.2" />
  <package id="NLog" version="2.0.0.2000" />
  <package id="RavenDB" version="1.0.0.427" />
  <package id="RavenDB-Embedded" version="1.0.0.427" />
  <package id="SqlServerCompact" version="4.0.8482.1" />
  <package id="structuremap" version="2.6.2" />
  <package id="WebActivator" version="1.4.1" />
  <package id="YUICompressor.NET" version="1.5.0.0" />
</packages>