@model EyePatch.Blog.Models.Widgets.TagCloud
<ul>
    @if (Model.Any()) {
        foreach(var tag in Model) {
             <li class="@Model.CssClass(tag)"><a title="@tag.TagTitle" href="@Url.RouteUrl("PostsTagged", new { tag = tag.Tag.Slug })">@tag.Tag.Value</a></li>
        }
    } else {
        <li><p>No posts have been tagged</p></li>
    }
</ul>