 .eyepatch-admin { line-height: 1; }

/************************
Interface Reset
************************/
.eyepatch-admin div, .eyepatch-admin span, .eyepatch-admin applet, .eyepatch-admin object, .eyepatch-admin iframe, .eyepatch-admin table, .eyepatch-admin caption, 
.eyepatch-admin tbody, .eyepatch-admin tfoot, .eyepatch-admin thead, .eyepatch-admin tr, .eyepatch-admin th, .eyepatch-admin td, .eyepatch-admin del, .eyepatch-admin dfn, 
.eyepatch-admin em, .eyepatch-admin font, .eyepatch-admin img, .eyepatch-admin ins, .eyepatch-admin kbd, .eyepatch-admin q, .eyepatch-admin s, .eyepatch-admin samp, 
.eyepatch-admin small, .eyepatch-admin strike, .eyepatch-admin strong, .eyepatch-admin sub, .eyepatch-admin sup, .eyepatch-admin tt, .eyepatch-admin var, .eyepatch-admin h1, 
.eyepatch-admin h2, .eyepatch-admin h3, .eyepatch-admin h4, .eyepatch-admin h5, .eyepatch-admin h6, .eyepatch-admin p, .eyepatch-admin blockquote, .eyepatch-admin pre, 
.eyepatch-admin a, .eyepatch-admin abbr, .eyepatch-admin acronym, .eyepatch-admin address, .eyepatch-admin big, .eyepatch-admin cite, .eyepatch-admin code, .eyepatch-admin dl, 
.eyepatch-admin dt, .eyepatch-admin dd, .eyepatch-admin ol, .eyepatch-admin ul, .eyepatch-admin li, .eyepatch-admin fieldset, .eyepatch-admin form, .eyepatch-admin label, 
.eyepatch-admin legend {
    border: 0 none;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
.eyepatch-admin article, .eyepatch-admin aside, .eyepatch-admin details, .eyepatch-admin figcaption, .eyepatch-admin figure, 
.eyepatch-admin footer, .eyepatch-admin header, .eyepatch-admin hgroup, .eyepatch-admin menu, .eyepatch-admin nav, .eyepatch-admin section {
	display: block;
}
.eyepatch-admin ol, .eyepatch-admin ul {
	list-style: none;
}
.eyepatch-admin blockquote, .eyepatch-admin q {
	quotes: none;
}
.eyepatch-admin blockquote:before, .eyepatch-admin blockquote:after,
.eyepatch-admin q:before, .eyepatch-admin q:after {
	content: '';
	content: none;
}
.eyepatch-admin table {
	border-collapse: collapse;
	border-spacing: 0;
}
.eyepatch-admin a { cursor: pointer; }
.eyepatch-admin  
{
    background: none repeat scroll 0 0 #EBEBEB;
    color: #000000;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", 
                 "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans serif;
    font-size:80%;
    line-height: 1.25;
    width: 896px;
    -webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
    width: 100%; 
    height: 100%;
}

.eyepatch-admin h1 { font-size:4.23077em; padding:1.29543em 0; }
.eyepatch-admin h2 { font-size:2.61538em; padding:1.2868em 0; }
.eyepatch-admin h3 { font-size:1.61538em; padding:0.5em 0; }
.eyepatch-admin h4 { font-style:italic; }
.eyepatch-admin p { margin-bottom: 20px; }
/**********************
Installation Screen
**********************/
body.eyepatch-admin { width: 100%; height:100%; }
.eyepatch-admin .central-column { padding-top: 50px; width: 512px; margin: 0 auto; }


/**********************
Window
**********************/
div.eyepatch-admin-window, .eyepatch-admin-context, .eyepatch-admin .tree, #tiptip_holder { font-family: "Segoe UI" , Frutiger, "Frutiger Linotype" , Univers, Calibri, "Gill Sans" , "Gill Sans MT" , "Myriad Pro" , Myriad, "DejaVu Sans Condensed" , "Liberation Sans" , "Nimbus Sans L" , Tahoma, Geneva, "Helvetica Neue" , Helvetica, Arial, sans serif; font-size: 9pt; line-height: 12px; }
div.eyepatch-admin-window { background-color: transparent; z-index: 100000; -webkit-box-shadow: 0 0 5px Black; -moz-box-shadow: 0 0 5px Black; box-shadow: 0 0 5px Black; display: inline-block; padding: 35px 5px 5px; }
div.eyepatch-admin-window, div.eyepatch-admin-window .inner-window { -moz-border-radius: 4px 4px 4px 4px; -webkit-border-radius: 4px; border-radius: 4px; border: solid 1px Black; }
div.eyepatch-admin-window .inner-window { border-color: #EFF6FC; background-color: #AECFF0; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D3E9FE), to(#AECFF0)); background-image: -moz-linear-gradient(top,  #D3E9FE,  #AECFF0); position: absolute; top: 0; left: 0; opacity: 0.8; filter: alpha(opacity=80); }
div.eyepatch-admin-window .outer-content { border: 1px solid #E1EFFD; position: relative; }
div.eyepatch-admin-window .inner-content { border: 1px solid #5F6F7D; background-color: White; }
div.eyepatch-admin-window .title-bar { overflow: hidden; padding: 0 5px 10px; position: relative; top: -1px; min-height: 21px; }
div.eyepatch-admin-window .title-button { float: right; border: 1px solid #505A64; border-top-width: 0px; border-right-width: 0px; cursor: pointer; }
div.eyepatch-admin-window .title-button-inner { border: 1px solid #DCE7F5; background-color: #ADBFD7; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E3EDF7), to(#ADBFD7)); background-image: -moz-linear-gradient(top,  #E3EDF7,  #ADBFD7); padding: 1px 2px; }
div.eyepatch-admin-window .title-button.right, div.eyepatch-admin-window .title-button.right .title-button-inner { border-right-width: 1px; -moz-border-radius: 0 0 2px 0; -webkit-border-radius: 0 0 2px 0; border-radius: 0 0 2px 0; }
div.eyepatch-admin-window .title-button.left, div.eyepatch-admin-window .title-button.left .title-button-inner { -moz-border-radius: 0 0 0 2px; -webkit-border-radius: 0 0 0 2px; border-radius: 0 0 0 2px; }
div.eyepatch-admin-window .title-button-inner .icon { width: 16px; height: 16px; }
div.eyepatch-admin-window .title-button.red .title-button-inner { border-color: #E2A896; background-color: #D27A69; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E69D8F), to(#B9482E)); background-image: -moz-linear-gradient(top,  #E69D8F,  #B9482E); }
div.eyepatch-admin-window .minimize { background-image: url('/core/images/minimize.png'); }
div.eyepatch-admin-window .pin { background-image: url('/core/images/pin.png'); }
div.eyepatch-admin-window .close { background-image: url('/core/images/close.png'); }
div.eyepatch-admin-window .title-button-hover { -webkit-box-shadow: 0 0 8px 3px #6DD0FB; -moz-box-shadow: 0 0 8px 3px #6DD0FB; box-shadow: 0 0 8px 3px #6DD0FB; }
div.eyepatch-admin-window .title-button-hover .title-button-inner { -webkit-box-shadow: 0 -2px 5px 0 #2ED8E5 inset; -moz-box-shadow: 0 -2px 5px 0 #2ED8E5 inset; box-shadow: 0 -2px 5px 0 #2ED8E5 inset; border-color: #74A9CE; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ACD4ED), to(#2E83BA)); background-image: -moz-linear-gradient(top,  #ACD4ED,  #2E83BA); }
div.eyepatch-admin-window .title-button-hover.red { -webkit-box-shadow: 0 0 8px 3px #D64310; -moz-box-shadow: 0 0 8px 3px #D64310; box-shadow: 0 0 8px 3px #D64310; }
div.eyepatch-admin-window .title-button-hover.red .title-button-inner { -webkit-box-shadow: 0 -2px 5px 0 #D64310 inset; -moz-box-shadow: 0 -2px 5px 0 #D64310 inset; box-shadow: 0 -2px 5px 0 #D64310 inset; border-color: #E4A095; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F99C8C), to(#D02304)); background-image: -moz-linear-gradient(top,  #F99C8C,  #D02304); }


.ui-taskbar { position: fixed; bottom: 0; padding-left: 30px; height: 48px; z-index: 150000; }
.ui-taskbar .taskbar-item { margin-right: 3px; cursor: pointer; background-color: #3A8AC7; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#9AC2DE), to(#3A8AC7)); background-image: -moz-linear-gradient(top,  #9AC2DE,  #3A8AC7); -webkit-box-shadow: 0 0 5px Black; -moz-box-shadow: 0 0 5px Black; box-shadow: 0 0 5px Black; display: inline-block; }
.ui-taskbar .taskbar-item, .ui-taskbar .taskbar-item .inner-taskbar-item { -moz-border-radius: 4px 4px 4px 4px; -webkit-border-radius: 4px; border-radius: 4px; border: solid 1px Black; }
.ui-taskbar .taskbar-item .inner-taskbar-item { border-color: #EFF6FC; padding: 5px 10px; }
.ui-taskbar .taskbar-item-hover .inner-taskbar-item { border-color: #E4E3C3; -webkit-box-shadow: 0 -2px 5px 0 #E3CCA8 inset; -moz-box-shadow: 0 0 20px 5px #F3EED0 inset; box-shadow: 0 -2px 5px 0 #E3CCA8 inset; }
.ui-taskbar .taskbar-icon { width: 32px; height: 32px; background-repeat: no-repeat; margin: 0 auto; }
.ui-taskbar .tb-eyepatch { background-image: url('/core/images/skull_and_crossbones.png'); }
.ui-taskbar .tb-folder { background-image: url('/core/images/folder-large.png'); }

.ui-modal-shroud {  background-color: #000000; height: 100%; left: 0;  opacity: 0.5; position: fixed; top: 0;  width: 100%; z-index: 1001; }
.ui-modal { position: fixed; top: 50%; left:50%; z-index: 1002; }
/**********************
Tree
**********************/
/* layout items */
.eyepatch-admin .tree { padding: 10px 0px !important; font-size: 12px; margin: 0; line-height: 1; }
.eyepatch-admin .tree li { display: block; white-space: nowrap; padding: 0; marging: 0; }
/* node */
.eyepatch-admin .tree .node { padding: 2px 1px; /*display: inline-block; min-width: 248px;*/ }
.eyepatch-admin .tree .node.hover, .eyepatch-admin .tree .node.selected { -moz-border-radius: 2px 2px 2px 2px; -webkit-border-radius: 2px; border-radius: 2px; padding: 1px 0; }
.eyepatch-admin .tree .node.hover { background-color: #F9FBFD; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F9FBFD), to(#EBF3FD)); background-image: -moz-linear-gradient(top,  #F9FBFD,  #EBF3FD); border: solid 1px #B8D6FB; }
.eyepatch-admin .tree .node.selected { background-color: #DBEAFC; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DBEAFC), to(#C1DCFC)); background-image: -moz-linear-gradient(top,  #DBEAFC,  #C1DCFC); border: solid 1px #7DA2CE; }
.eyepatch-admin .tree .node.hover.selected { background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DCEBFC), to(#C1DBFC)); background-color: #DCEBFC; background-image: -moz-linear-gradient(top,  #DCEBFC,  #C1DBFC); border: solid 1px #7DA2CE; }
/* handle */
.eyepatch-admin .tree .node .handle { width: 16px; height: 16px; display: inline-block; background-repeat: no-repeat; vertical-align: middle; }
.eyepatch-admin .tree .node .handle { background-image: url('/core/images/folder-arrow.png'); }
.eyepatch-admin .tree .node .handle.hover { background-position: -16px 0; }
.eyepatch-admin .tree li.open > .node > .handle { background-position: -32px 0; }
.eyepatch-admin .tree li.open > .node > .handle.hover { background-position: -48px 0; }
.eyepatch-admin .tree .empty .node .handle { background-image: none; }
/* icons */
.eyepatch-admin .tree .icon { width: 16px; height: 16px; display: inline-block; vertical-align: middle; cursor: pointer; }
.eyepatch-admin .tree .folder > .node > .icon { background-image: url('/core/images/folder.png'); }
.eyepatch-admin .tree .folder.open > .node > .icon { background-image: url('/core/images/folder-open.png'); }
.eyepatch-admin .tree .group > .node > .icon { background-image: url('/core/images/blue-folder.png'); }
.eyepatch-admin .tree .group.open > .node > .icon { background-image: url('/core/images/blue-folder-open.png'); }
.eyepatch-admin .tree .page > .node > .icon { background-image: url('/core/images/document-globe.png'); }
.eyepatch-admin .tree .widget > .node > .icon { background-image: url('/core/images/puzzle.png'); }
.eyepatch-admin .tree .homepage > .node > .icon { background-image: url('/core/images/home.png'); }
.eyepatch-admin .tree .search > .node > .icon { background-image: url('/core/images/google.png'); }
.eyepatch-admin .tree .facebook > .node > .icon { background-image: url('/core/images/balloon-facebook-left.png'); }
.eyepatch-admin .tree .template > .node > .icon { background-image: url('/core/images/template.png'); }
/* label */
.eyepatch-admin .tree .node label { display: inline; color: Black; padding: 1px 0 1px 5px; cursor: pointer; vertical-align: middle; -webkit-user-select: none; -moz-user-select: none; user-select: none; }
/* rename */
.eyepatch-admin .tree .rename > .node { padding: 0; }
.eyepatch-admin .tree .node input.rename { border: 1px solid #646464; padding: 0; vertical-align: middle; height: 16px; margin-left: 3px; font-family: inherit; font-size: 12px; }
/* drag icon */
.drag-icon { background-color: #C1DBFC; opacity: 0.5; filter: alpha(opacity=50); border-radius: 4px; -moz-border-radius: 4px 4px 4px 4px; -webkit-border-radius: 4px; border: solid 1px #B8D6FB; width: 35px; height: 35px; padding: 10px; -moz-box-shadow: 3px 3px 3px #666; -webkit-box-shadow: 3px 3px 3px #666; box-shadow: 3px 3px 3px #666; }
.drag-icon span { display: inline-block; width: 35px; height: 35px; background-repeat: no-repeat; background-position: center center; }
.drag-icon .folder { background-image: url('/core/images/folder-large.png'); }
.drag-icon .page, .drag-icon .homepage { background-image: url('/core/images/blue-document.png'); }


/**********************
Context Menu
**********************/
.eyepatch-admin-context { font-size: 12px; -webkit-box-shadow: 2px 2px 2px #8E8E8E; -moz-box-shadow: 2px 2px 2px #8E8E8E; box-shadow: 2px 2px 2px #8E8E8E; background-color: #F1F1F1; border: solid 1px #979797; -webkit-user-select: none; -moz-user-select: none; user-select: none; }
.eyepatch-admin-context ul { border: solid 2px #F5F5F5; padding: 0; margin: 0; list-style: none; }
.eyepatch-admin-context li { margin:0; padding: 0; border: solid 1px #F1F1F1; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.eyepatch-admin-context .inner { display: block; height: 18px; border: solid 1px #F1F1F1; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.eyepatch-admin-context label { font-weight: normal; color: Black; border-left: solid 1px #FFFFFF; display: inline-block; vertical-align: top; line-height: 22px; padding: 0 0 0 5px; }
.eyepatch-admin-context .icon { width: 26px; display: inline-block; border-right: solid 1px #E2E3E3; background-repeat: no-repeat; background-position: 2px 50%; }
.eyepatch-admin-context .icon, .eyepatch-admin-context label { height: 22px; top: -2px; position: relative; }
.eyepatch-admin-context li:hover { border-color: #AECFF7; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F0F3F6), to(#E7EEF6)); background-image: -moz-linear-gradient(top,  #F0F3F6,  #E7EEF6); }
.eyepatch-admin-context li:hover .inner { border-color: #EFF4FA; }
.eyepatch-admin-context li:hover .icon { height: 100%; position: static; }
.eyepatch-admin-context li:hover label { height: 100%; position: static; line-height: 18px; }
.eyepatch-admin-context .parent { background-image: url('/core/images/arrow-right.png'); background-repeat: no-repeat; background-position: 100% 50%; }
.eyepatch-admin-context li.separator { border: 0; height: 2px; line-height: 2px; }
.eyepatch-admin-context li.separator label { border-bottom: solid 1px #FFFFFF; background-color: #E0E0E0; height: 1px; position: static; line-height: 1px; }
.eyepatch-admin-context li.separator .inner { height: 2px; line-height: 2px; border: 0; position: static; }
.eyepatch-admin-context li.separator .icon { height: 2px; line-height: 2px; position: static; vertical-align: top; width: 28px; }
.eyepatch-admin-context li.disabled label { color: #6D6D6D; }
.eyepatch-admin-context li.disabled:hover { border-color: #D4D3D3; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F2F2F2), to(#E5E5E5)); background-image: -moz-linear-gradient(top,  #F2F2F2,  #E5E5E5); }
.eyepatch-admin-context li.disabled:hover .inner { border-color: #E6E6E6; border-top-color: #F4F5F5; }

.eyepatch-admin-context .icon.copy { background-image: url('/core/images/document-copy.png'); }
.eyepatch-admin-context .icon.page { background-image: url('/core/images/document-globe.png'); }
.eyepatch-admin-context .icon.folder { background-image: url('/core/images/folder.png'); }

/**********************
Eyepatch Tabs
**********************/
.eyepatch-admin .ko-tabcontainer, .eyepatch-admin .ui-tabs { height: 100%; font-size: 12px; }
.eyepatch-admin .ui-tabs .tab-strip { border-bottom: 1px solid #CDDAEA; }
.eyepatch-admin .ui-tabs .inner-strip { border: 1px solid #E4EFFB; background-color: #E7F1FB; overflow: hidden; padding: 3px; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F5FAFF), to(#DCE7F6)); background-image: -moz-linear-gradient(top,  #F5FAFF,  #DCE7F6); }
.eyepatch-admin .ui-tabs .tab { float: left; cursor: pointer; margin-right: 2px; -webkit-user-select: none; -moz-user-select: none; user-select: none; }
.eyepatch-admin .ui-tabs .inner-tab { padding: 8px 10px; display: inline-block; }
.eyepatch-admin .ui-tabs .tab.tab-hover, .eyepatch-admin .ui-tabs .tab.tab-active { border: 1px solid #AABCD5; }
.eyepatch-admin .ui-tabs .tab.tab-hover .inner-tab, .eyepatch-admin .ui-tabs .tab.tab-active .inner-tab { border: 1px solid #EFF4F9; background-color: #E7F1FB; padding: 6px 8px; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F7FBFE), to(#C3D5EA)); background-image: -moz-linear-gradient(top,  #F7FBFE,  #C3D5EA); }
.eyepatch-admin .ui-tabs .tab.tab-hover, .eyepatch-admin .ui-tabs .tab.tab-hover .inner-tab, .eyepatch-admin .ui-tabs .tab.tab-active, .eyepatch-admin .ui-tabs .tab.tab-active .inner-tab { -moz-border-radius: 2px 2px 2px 2px; -webkit-border-radius: 2px; border-radius: 2px; }
.eyepatch-admin .ui-tabs .tab-body { border-top: 1px solid #A0AFC3; height: 623px; /* ui-tabs - tab-strip */ }

/**********************
Interface Specifics
**************************/
.eyepatch-admin .vsplitbar { width: 1px; height: 423px; border-right: solid 1px #D6E5F5; }
.eyepatch-admin .widgets-tab, .eyepatch-admin .pages-tab { height: 423px; width: 496px; overflow: hidden; }
.eyepatch-admin .tab-body-inner > div { height: 404px; overflow: auto; /*padding:10px 0; */ }
/* info panel */
.eyepatch-admin .info-panel { position: relative; }
.eyepatch-admin .page-info { }
.eyepatch-admin .folder-info { padding: 20px; }
.eyepatch-admin .info-loading { height: 100%; width: 100%; position: absolute; top: 0; background: url("/core/images/ajax-loader.gif") no-repeat scroll 98% 1% transparent; }
.eyepatch-admin .help-text { text-align:left; padding: 5px; line-height: 20px; border: 1px solid rgba(255,255,255,0.25); background-color: #FFFF99; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 0 0 3px #555; -moz-box-shadow: 0 0 3px #555; box-shadow: 0 0 3px #555; }


/**********************
Content Area/Widget Specifics
**************************/
/* widget handle*/
.widget-handle { line-height: 14px; background-color: #D3E9FE; opacity: 0.9; filter: alpha(opacity=90); background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D3E9FE), to(#AECFF0)); background-image: -moz-linear-gradient(top,  #D3E9FE,  #AECFF0); position: absolute; }
.widget-handle, .widget-handle .inner-handle { -moz-border-radius: 4px 4px 4px 4px; -webkit-border-radius: 4px 4px 4px 4px; border-radius: 4px 4px 4px 4px; border: solid 1px Black; }
.widget-handle .inner-handle { border-color: White; padding: 5px; overflow: hidden; border-bottom-width: 0; width: 36px; height: 18px; }
.widget-handle .button { cursor: pointer; padding: 1px; width: 16px; height: 16px; display: inline-block; }
.widget-handle .button, .widget-handle .button .inner-button { -moz-border-radius: 2px 2px 2px 2px; -webkit-border-radius: 2px; border-radius: 2px; }
.widget-handle .button.hover { border: solid 1px #AABCD5; padding: 0; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F5FAFF), to(#C3D5EA)); background-image: -moz-linear-gradient(top,  #F5FAFF,  #C3D5EA); }
.widget-handle .button .inner-button { border-color: White; }
.widget-handle .button .icon { width: 16px; height: 16px; background-repeat: no-repeat; }
.widget-handle .delete { background-image: url('/core/images/cross-button.png'); }
.widget-handle .move { background-image: url('/core/images/arrow-move.png'); }
.widget-handle .pin { background-image: url('/core/images/pin.png'); }
.widget-handle { display: none; }
.widget-handle.dragging { display: block; }

/* widget*/
.ep-widget { position: relative; }
.ep-widget.loading .loading-widget { box-shadow: 0 0 2px #000000 inset; height: 30px; background-color: #D3E9FE; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D3E9FE), to(#ACD5FD)); background-image: -moz-linear-gradient(top,  #D3E9FE,  #ACD5FD); opacity: 0.8; filter: alpha(opacity=80); width: 100%; }
.ep-widget.loading .loading-icon { background: transparent url('/core/images/ajax-loader2.gif') no-repeat center center; height: 100%; width: 100%; }
.ep-widget.hover { box-shadow: 0 0 5px #5491be; }
.ep-widget.hover .widget-handle { display: block; }
.new-widget { background-image: url('/core/images/puzzle-large.png'); background-repeat: no-repeat; width: 32px !important; height: 32px !important; }
/* content area */
.content-area { min-height: 30px; outline-color: Yellow; outline-style: solid; outline-width: 0; }
.content-area .ui-sortable-placeholder { visibility: visible !important; box-shadow: 0 0 2px #000000 inset; background-color: #D3E9FE; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D3E9FE), to(#ACD5FD)); background-image: -moz-linear-gradient(top,  #D3E9FE,  #ACD5FD); opacity: 0.8; filter: alpha(opacity=80); cursor: move; min-height: 30px; }
.content-area .ui-sortable-placeholder * { visibility: hidden; }

.eyepatch-admin ul.as-selections { list-style-type: none; border-top: 1px solid #888; border-bottom: 1px solid #b6b6b6; border-left: 1px solid #aaa; border-right: 1px solid #aaa; padding: 4px 0 4px 4px; margin: 0; overflow: auto; background-color: #fff; box-shadow: inset 0 1px 2px #888; -webkit-box-shadow: inset 0 1px 2px #888; -moz-box-shadow: inset 0 1px 2px #888; }
.eyepatch-admin ul.as-selections.loading { background-color: #eee; }
.eyepatch-admin ul.as-selections li { float: left; margin: 1px 4px 1px 0; }
.eyepatch-admin ul.as-selections li.as-selection-item { color: #2b3840; font-size: 13px; font-family: "Lucida Grande" , arial, sans-serif; text-shadow: 0 1px 1px #fff; background-color: #ddeefe; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ddeefe), to(#bfe0f1)); border: 1px solid #acc3ec; border-top-color: #c0d9e9; padding: 2px 7px 2px 10px; border-radius: 12px; -webkit-border-radius: 12px; -moz-border-radius: 12px; box-shadow: 0 1px 1px #e4edf2; -webkit-box-shadow: 0 1px 1px #e4edf2; -moz-box-shadow: 0 1px 1px #e4edf2; }
.eyepatch-admin ul.as-selections li.as-selection-item:last-child { margin-left: 30px; }
.eyepatch-admin ul.as-selections li.as-selection-item a.as-close { float: right; margin: 1px 0 0 7px; padding: 0 2px; cursor: pointer; color: #5491be; font-family: "Helvetica" , helvetica, arial, sans-serif; font-size: 14px; font-weight: bold; text-shadow: 0 1px 1px #fff; -webkit-transition: color .1s ease-in; }
.eyepatch-admin ul.as-selections li.as-selection-item.blur { color: #666666; background-color: #f4f4f4; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f4f4f4), to(#d5d5d5)); border-color: #bbb; border-top-color: #ccc; box-shadow: 0 1px 1px #e9e9e9; -webkit-box-shadow: 0 1px 1px #e9e9e9; -moz-box-shadow: 0 1px 1px #e9e9e9; }
.eyepatch-admin ul.as-selections li.as-selection-item.blur a.as-close { color: #999; }
.eyepatch-admin ul.as-selections li:hover.as-selection-item { color: #2b3840; background-color: #bbd4f1; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bbd4f1), to(#a3c2e5)); border-color: #6da0e0; border-top-color: #8bb7ed; }
.eyepatch-admin ul.as-selections li:hover.as-selection-item a.as-close { color: #4d70b0; }
.eyepatch-admin ul.as-selections li.as-selection-item.selected { border-color: #1f30e4; }
.eyepatch-admin ul.as-selections li.as-selection-item a:hover.as-close { color: #1b3c65; }
.eyepatch-admin ul.as-selections li.as-selection-item a:active.as-close { color: #4d70b0; }
.eyepatch-admin ul.as-selections li.as-original { margin-left: 0; }
.eyepatch-admin ul.as-selections li.as-original input { border: none; outline: none; font-size: 13px; width: 120px; height: 18px; padding-top: 3px; }
.eyepatch-admin ul.as-list { position: absolute; list-style-type: none; margin: 2px 0 0 0; padding: 0; font-size: 14px; color: #000; font-family: "Lucida Grande" , arial, sans-serif; background-color: #fff; background-color: rgba(255,255,255,0.95); z-index: 2; box-shadow: 0 2px 12px #222; -webkit-box-shadow: 0 2px 12px #222; -moz-box-shadow: 0 2px 12px #222; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
.eyepatch-admin li.as-result-item, li.as-message { margin: 0 0 0 0; padding: 5px 12px; background-color: transparent; border: 1px solid #fff; border-bottom: 1px solid #ddd; cursor: pointer; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
.eyepatch-admin li:first-child.as-result-item { margin: 0; }
.eyepatch-admin li.as-message { margin: 0; cursor: default; }
.eyepatch-admin li.as-result-item.active { background-color: #3668d9; background-image: -webkit-gradient(linear, 0% 0%, 0% 64%, from(rgb(110, 129, 245)), to(rgb(62, 82, 242))); border-color: #3342e8; color: #fff; text-shadow: 0 1px 2px #122042; }
.eyepatch-admin li.as-result-item em { font-style: normal; background: #444; padding: 0 2px; color: #fff; }
.eyepatch-admin li.as-result-item.active em { background: #253f7a; color: #fff; }
/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .eyepatch-admin ul.as-selections { border-top-width: 2px; }
    .eyepatch-admin ul.as-selections li.as-selection-item { padding-top: 3px; padding-bottom: 3px; }
    .eyepatch-admin ul.as-selections li.as-selection-item a.as-close { margin-top: -1px; }
    .eyepatch-admin ul.as-selections li.as-original input { height: 19px; }
}
/* Opera Hacks  */
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) {
    .eyepatch-admin ul.as-list { border: 1px solid #888; }
    .eyepatch-admin ul.as-selections li.as-selection-item a.as-close { margin-left: 4px; margin-top: 0; }
}
/* Firefox 3.0 Hacks */
.eyepatch-admin ul.as-list, x:-moz-any-link, x:default { border: 1px solid #888; }
.eyepatch-admin BODY:first-of-type ul.as-list, x:-moz-any-link, x:default { /* Target FF 3.5+ */ border: none; }

/**********************
Editor
**********************/
.ep-editor { background-color: #D3E9FE; width: 400px; opacity: 0.9; filter:alpha(opacity=90);   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D3E9FE), to(#AECFF0)); background-image: -moz-linear-gradient(top,  #D3E9FE,  #AECFF0);
			-webkit-box-shadow:0 0 5px Black; -moz-box-shadow: 0 0 5px Black; box-shadow:0 0 5px Black; z-index: 50100; }
.ep-editor, .ep-editor .inner { -moz-border-radius:4px 4px 4px 4px; -webkit-border-radius: 4px; border-radius: 4px; border: solid 1px Black; }
.ep-editor .inner { border-color: White;}
.ep-editor .content { height: 72px; margin: 0; padding: 5px; position: relative; width: 388px; z-index: auto; }
.ep-editor button { cursor: pointer; }

.ep-editor .buttons, .ep-editor .dialog { position: absolute; line-height:0.8; width: 365px; border: solid 1px #5C6C7A; background-color: #E7F1FB; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F5FAFF), to(#DCE7F6)); background-image: -moz-linear-gradient(top,  #F5FAFF,  #DCE7F6); }
.ep-editor .buttons {  padding: 5px 0; }
.ep-editor .buttons .buttons-inner { -moz-border-radius:0; -webkit-border-radius: 0; border-radius: 0; overflow: hidden; padding: 0 5px; list-style-type: none; margin: 0; }
.ep-editor .buttons .group { display: inline-block; border-right: 1px solid #AECFF0; border-left: 1px solid White; }
.ep-editor .buttons .group.first { border-left-width: 0; }
.ep-editor .buttons .group.last { border-right-width: 0; }
.ep-editor .button { margin:0; float: left; cursor: pointer; padding:1px; height: 28px; }
.ep-editor .button, .ep-editor .button .button-inner { margin:0; -moz-border-radius:2px 2px 2px 2px; -webkit-border-radius: 2px; border-radius: 2px; } 
.ep-editor .button.hover { border: solid 1px #AABCD5; padding: 0; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F5FAFF), to(#C3D5EA)); background-image: -moz-linear-gradient(top,  #F5FAFF,  #C3D5EA); }
.ep-editor .button .button-inner { float: none; border-color: White; display: inline-block; border: none; background-color: transparent; padding: 5px 3px;}
.ep-editor .button .icon { width: 16px; height: 16px; background-repeat: no-repeat; } 
.ep-editor .move, .ep-editor .pin { float: right; width: 16px; height: 16px; cursor:pointer; }
.ep-editor .move { background-image: url('/core/images/arrow-move.png'); cursor:move;}
.ep-editor .pin { background-image: url('/core/images/pin.png');}
.ep-editor .sidebar { margin-top: 3px;  }
.ep-editor .button .bold { background-image: url('/core/images/edit-bold.png'); }
.ep-editor .button .italic { background-image: url('/core/images/edit-italic.png'); }
.ep-editor .button .underline { background-image: url('/core/images/edit-underline.png'); }
.ep-editor .button .list{ background-image: url('/core/images/edit-list.png'); }
.ep-editor .button .orderedlist { background-image: url('/core/images/edit-list-order.png'); }
.ep-editor .button .heading { background-image: url('/core/images/edit-heading.png'); }
.ep-editor .button .link { background-image: url('/core/images/globe--arrow.png'); }
.ep-editor .button .subscript { background-image: url('/core/images/edit-subscript.png'); }
.ep-editor .button .superscript { background-image: url('/core/images/edit-superscript.png'); }
.ep-editor .button .image { background-image: url('/core/images/picture--plus.png'); }
.ep-editor .button .code { background-image: url('/core/images/edit-code.png'); }
.ep-editor .button .align-left { background-image: url('/core/images/edit-alignment.png'); }
.ep-editor .button .align-center { background-image: url('/core/images/edit-alignment-center.png'); }
.ep-editor .button .align-right { background-image: url('/core/images/edit-alignment-right.png'); }
.ep-editor .button .cut { background-image: url('/core/images/scissors-blue.png'); }
.ep-editor .button .copy { background-image: url('/core/images/document-copy.png'); }
.ep-editor .button .paste { background-image: url('/core/images/clipboard-paste.png'); }
.ep-editor .button .blockquote { background-image: url('/core/images/balloon-quotation.png'); }
.ep-editor .button .paragraph { background-image: url('/core/images/text.png'); }
.ep-editor .button .html { background-image: url('/core/images/html.png'); }
.ep-editor .button .cancel { background-image: url('/core/images/cross-button.png'); }
.ep-editor .button .confirm { background-image: url('/core/images/tick-button.png'); }


.ep-editor .button .menu { padding:0; margin:0; list-style-type: none; display: none; position: absolute; border: solid 1px #AABCD5; background-color: #E7F1FB; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F5FAFF), to(#DCE7F6)); background-image: -moz-linear-gradient(top,  #F5FAFF,  #DCE7F6); }
.ep-editor .button .menu .button { font-size: 0.9em; }
.ep-editor .button .menu .icon { width: auto; min-width: 14px; }
.ep-editor .button .menu li { padding: 0; margin: 0;}
.ep-editor .button .menu li.hover { background-color: #C3D5EA; }
.ep-editor .button.hover  .menu { display: inline-block; }


.ep-editor .dialog input { margin: 10px 0 0 10px; float: left; font-size: 0.8em; width: 310px; border: 1px solid #AECFF0; padding: 0; }
.ep-editor .dialog input.short { width: 149px; margin-bottom: 10px; }
.ep-editor .dialog label { display: inline-block; font-size: 0.8em; margin-left: 10px; margin-top: 10px; padding: 3px 0; }
.ep-editor .dialog label .checkbox { width: 10px; margin: 0 5px 0 0; }
.ep-editor .dialog-buttons { float: right; width: 30px; padding: 5px; }

/*image picker */
.ui-imagepicker  { width: 100%; height: 100%; } 
.ui-imagepicker .image-details { padding: 20px; position: relative; }
.ui-imagepicker .image-details  button { bottom: 20px; position: absolute; right: 20px; }
.ui-imagepicker .image-list { padding: 20px 20px 0; height: 227px; position: relative; }
.ui-imagepicker .image-panel { padding:5px; overflow-x: none; overflow-y: scroll; border: 1px solid #9E9E9E; height: 100%; box-shadow: 0 0 2px #AECFF0 inset; }

.ui-imagepicker .ui-thumb { display: inline-block; margin: 3px; cursor: pointer; border: 1px solid White; -moz-border-radius:3px; -webkit-border-radius: 3px; border-radius: 3px; }
.ui-imagepicker .ui-thumb.hover { border-color: #B8D6FB; }
.ui-imagepicker .ui-thumb.selected { border-color: #7DA2CE; }
.ui-imagepicker .thumb-inner { position: relative; border: 1px solid White; background-color: White; -moz-border-radius:3px; -webkit-border-radius: 3px; border-radius: 3px; }
.ui-imagepicker .ui-thumb.hover .thumb-inner { border-color: #FCFCFE; background-color: #F3F7FD; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F9FBFD), to(#EBF3FD)); background-image: -moz-linear-gradient(top,  #F9FBFD,  #EBF3FD); }
.ui-imagepicker .ui-thumb.selected .thumb-inner { border-color: #EAF3FD; background-color: #CFE3FC; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DCEAFC), to(#C1DCFC)); background-image: -moz-linear-gradient(top,  #DCEAFC,  #C1DCFC); }
.ui-imagepicker .thumb-frame { position: absolute; overflow: hidden; box-shadow: 1px 1px 3px #000000; top: 22%; left:5%; }

.ui-imagepicker .loading-icon  { background: url("/core/images/ajax-loader.gif") no-repeat scroll 50% 50% transparent; height: 50px; position: absolute; right: 110px; top: 290px; width: 50px; display: none; }
.ui-imagepicker  .loading .loading-icon { display: block; }

/* code editor */
.ui-codeeditor { width: 100%; height: 100%; } 
.ui-codeeditor .code-details { padding: 30px 20px 20px; position: relative; border-top: 1px solid #DDDDDD; }
.ui-codeeditor .code-details  button { bottom: 20px; position: absolute; right: 20px; }

/* html editor */
.ui-htmleditor { width: 100%; height: 100%; } 
.ui-htmleditor .html-view textarea { width: 730px; height: 355px; }
.ui-htmleditor .html-details { padding: 20px; position: relative; border-top: 1px solid #DDDDDD; height: 50px; }
.ui-htmleditor .html-details  button { bottom: 20px; position: absolute; right: 20px; }

/* link dialog */
.ui-linkdialog {  width: 100%; height: 100%; }
.ui-linkdialog .link-details { padding: 20px; position: relative; }
.ui-linkdialog .link-details button { bottom: 20px; position: absolute; right: 20px; }

.ui-field.inline { display: inline-block; margin-right: 20px; }
.ui-field label { color: #333333; display: block; font-size: 13px; padding: 0.8em 0; }
.ui-field input.medium { width: 250px; }
.ui-field input.long { width: 535px; }
.ui-field  input, .ui-field  select, .ui-field  textarea { border: 1px solid #9E9E9E; color: #333333;font-family: inherit;font-size: inherit;line-height: 1.4375; margin: 0; padding: 3px 5px; width: 15em;}
.ui-field input[type='checkbox'] { width: 20px; border: none;}
.ui-button { border: 1px solid #5F6F7D; cursor: pointer; float: right; margin-left: 10px; padding: 8px 25px; }


/**********************
Jquery Notifications
**************************/
.notice-wrap { position: fixed; bottom: 20px; right: 20px; width: 250px; z-index: 9999; }
* html .notice-wrap { position: absolute; }
.notice-item { background: #333; -moz-border-radius: 8px; -webkit-border-radius: 8px; color: #eee; padding: 12px; font-family: Arial, Helvetica, sans-serif; font-size: 13px; display: block; position: relative; margin: 0 0 12px 0; }
.notice-item-close { position: absolute; font-family: Arial; font-size: 12px; font-weight: bold; right: 6px; top: 6px; cursor: pointer; }
.success { background-color: #009900; }
.error { background-color: #990000; }

.eyepatch-admin .image-list { padding: 10px; border-bottom: 1px solid #D6E5F5; height: 490px; }
.eyepatch-admin .upload-label { display: block; overflow: hidden; width: 100%; height: 35px; }

div.ui-modal-shroud {  background-color: #000000; height: 100%; left: 0;  opacity: 0.5; position: fixed; top: 0;  width: 100%; z-index: 1001; }
.ui-modal { position: fixed; top: 50%; left:50%; z-index: 1002; }
.eyepatch-admin .form { padding: 20px; bottom: 0; height: auto; left: 0; position: absolute; right: 0; top: 0; }
/* text boxes */
.eyepatch-admin form input, .eyepatch-admin form textarea, .eyepatch-admin form select {font-family: inherit;font-size: inherit; border: 1px solid #9E9E9E; color: #333333; margin: 0; padding: 3px 5px; width: 15em; line-height: 1.4375; }
.eyepatch-admin form input::-webkit-input-placeholder { color: #999; }
.eyepatch-admin form input:-moz-placeholder, .eyepatch-admin form textarea:-moz-placeholder { color: #999; }

.eyepatch-admin form input[type='checkbox'] { width: auto; }
.eyepatch-admin form input:focus, .eyepatch-admin form textarea:focus, .eyepatch-admin form select:focus { outline: none; }
.eyepatch-admin form input.x-small, .eyepatch-admin form textarea.x-small { width: 3em; }
.eyepatch-admin form input.small, .eyepatch-admin form textarea.small { width: 10em; }
.eyepatch-admin form input.large, .eyepatch-admin form textarea.large { width: 20em; }
.eyepatch-admin form input.inline { display: inline-block; margin-right: 5px;  }
.eyepatch-admin form input:disabled, .eyepatch-admin form textarea:disabled { color: #A1A1A1; background-color: #F0F0F0; }
/* labels */
.eyepatch-admin form label { color: #333333; display: block; padding: 0.8em 0; font-size: 13px; }
.eyepatch-admin form label.error { color: #E14E04; display: inline; float: left; font-size: 1.7em; font-weight: bold; line-height: 1; padding: 0 0 0 3px; }

.eyepatch-admin .button-container { bottom: 0; left: 0; overflow: hidden; padding: 20px; position: absolute; right: 0; }
.eyepatch-admin .button-container .error { display: none; float: left; color: Red; background: White url('/core/images/exclamation-red-frame.png') no-repeat center left; padding-left: 25px; }

.eyepatch-admin form button, .eyepatch-admin .button { border: 1px solid #5F6F7D; float: right; padding: 8px 25px 10px; cursor: pointer; margin: 0 0 0 10px; font-weight: normal; font-size: 14px; font-family: inherit; color: Black;  }
.eyepatch-admin form .input-validation-error { border: 1px solid Red; }
.eyepatch-admin form .field-validation-error { display: inline-block; width: 16px; height: 16px; background: transparent url('/core/images/exclamation-red.png') no-repeat; }
.eyepatch-admin form .field-validation-error span { width: 100%; height: 100%; display: block; }

/* Help Icons */
.eyepatch-admin form .help { display: inline-block; width: 16px; height: 16px; background: transparent url('/core/images/question-small-white.png') no-repeat; }

/* ToolTips by http://code.drewwilson.com/entry/tiptip-jquery-plugin */
#tiptip_holder { display: none; position: absolute; top: 0; left: 0; z-index: 5200000; }
#tiptip_holder.tip_top { padding-bottom: 5px; }
#tiptip_holder.tip_bottom { padding-top: 5px; }
/* using this as error */
#tiptip_holder.tip_right { padding-left: 5px; }
#tiptip_holder.tip_left { padding-right: 5px; }
#tiptip_content { font-size: 12px; line-height: 20px; color: Black; padding: 4px 8px; border: 1px solid rgba(255,255,255,0.25); background-color: rgb(25,25,25); background-color: #FFFF99; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 0 0 3px #555; -moz-box-shadow: 0 0 3px #555; box-shadow: 0 0 3px #555; }
#tiptip_holder.tip_right #tiptip_content { background-color: Red; color: White; }
#tiptip_arrow, #tiptip_arrow_inner { position: absolute; border-color: transparent; border-style: solid; border-width: 6px; height: 0; width: 0; }
#tiptip_holder.tip_top #tiptip_arrow { border-top-color: #fff; border-top-color: rgba(255,255,255,0.35); }
#tiptip_holder.tip_bottom #tiptip_arrow { border-bottom-color: #fff; border-bottom-color: rgba(255,255,255,0.35); }
#tiptip_holder.tip_right #tiptip_arrow { border-right-color: #fff; border-right-color: Red; }
#tiptip_holder.tip_left #tiptip_arrow { border-left-color: #fff; border-left-color: rgba(255,255,255,0.35); }
#tiptip_holder.tip_top #tiptip_arrow_inner { margin-top: -7px; margin-left: -6px; border-top-color: rgb(25,25,25); border-top-color: rgba(25,25,25,0.92); }
#tiptip_holder.tip_bottom #tiptip_arrow_inner { margin-top: -5px; margin-left: -6px; border-bottom-color: rgb(25,25,25); border-bottom-color: rgba(25,25,25,0.92); }
#tiptip_holder.tip_right #tiptip_arrow_inner { margin-top: -6px; margin-left: -5px; border-right-color: Red; border-right-color: Red; }
#tiptip_holder.tip_left #tiptip_arrow_inner { margin-top: -6px; margin-left: -7px; border-left-color: rgb(25,25,25); border-left-color: rgba(25,25,25,0.92); }
/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    #tiptip_content { padding: 4px 8px 5px 8px; background-color: rgba(45,45,45,0.88); }
    #tiptip_holder.tip_bottom #tiptip_arrow_inner { border-bottom-color: rgba(45,45,45,0.88); }
    #tiptip_holder.tip_top #tiptip_arrow_inner { border-top-color: rgba(20,20,20,0.92); }
}
/*http://thrivingkings.com/apprise/ */
.appriseOverlay { position: fixed; top: 0; left: 0; background: rgba(0,0,0,0.3); display: none; }
.appriseOuter { background: #eee; border: 1px solid #fff; box-shadow: 0 3px 7px #333; -moz-box-shadow: 0 3px 7px #333; -webkit-box-shadow: 0 3px 7px #333; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -khtml-border-radius: 4px; z-index: 99999999; min-width: 200px; min-height: 50px; max-width: 75%; position: fixed; display: none; }
.appriseInner { color: #333; text-shadow: 0 1px 0 #fff; padding: 20px; }
.appriseInner button { border: 1px solid #bbb; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; -khtml-border-radius: 3px; background: 0; color: #232d3d; font-size: 12px; font-weight: 700; text-shadow: 0 1px 0 #fff; cursor: pointer; box-shadow: 0 1px 2px #ccc; -moz-box-shadow: 0 1px 2px #ccc; -webkit-box-shadow: 0 1px 2px #ccc; margin: 0 3px; padding: 4px 10px; }
.appriseInner button:hover { color: #d85054; }
.aButtons, .aInput { text-align: center; margin: 20px 10px 0; }
.aTextbox { border: 1px solid #aaa; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -khtml-border-radius: 4px; box-shadow: 0 1px 0 #fff; -moz-box-shadow: 0 1px 0 #fff; -webkit-box-shadow: 0 1px 0 #fff; width: 180px; font-size: 12px; font-weight: 700; padding: 5px 10px; }

